.footer {
  background-color: #007acc;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer .header-email,
.footer .header-linkedin {
  color: #fff;
  margin: 0 5px;
}
