.footer {
  background-color: #1a1a1a;
  border-top: 4px solid #7B0D1E;
  color: #fff;
  text-align: center;
  padding: 16px 0;
}

.footer .header-email,
.footer .header-linkedin {
  color: #fff;
  margin: 0 5px;
}
